<!DOCTYPE html>
<html>
  <head>
    <title></title>
    <link rel="stylesheet" href="http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css" />
    <link rel="stylesheet" href="qna.css" type="text/css" charset="utf-8" />
    
  </head>
  <body>
    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h2>
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a eros mauris, eu venenatis mauris. Nulla iaculis imperdiet pharetra. Nulla facilisi. Etiam egestas metus ut lectus vestibulum in elementum augue congue. Vivamus hendrerit, odio ut pharetra dictum, diam orci malesuada nisl, et egestas lacus lacus at ipsum. Etiam at nulla tortor, id scelerisque dui. In cursus tincidunt mauris, nec ullamcorper quam posuere vel.
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">Radik</a>
                  <span class="date">31 Dec 2011</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h2>
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a eros mauris, eu venenatis mauris. Nulla iaculis imperdiet pharetra. Nulla facilisi. Etiam egestas metus ut lectus vestibulum in elementum augue congue. Vivamus hendrerit, odio ut pharetra dictum, diam orci malesuada nisl, et egestas lacus lacus at ipsum. Etiam at nulla tortor, id scelerisque dui. In cursus tincidunt mauris, nec ullamcorper quam posuere vel.
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">Radik</a>
                  <span class="date">31 Dec 2011</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h2>
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a eros mauris, eu venenatis mauris. Nulla iaculis imperdiet pharetra. Nulla facilisi. Etiam egestas metus ut lectus vestibulum in elementum augue congue. Vivamus hendrerit, odio ut pharetra dictum, diam orci malesuada nisl, et egestas lacus lacus at ipsum. Etiam at nulla tortor, id scelerisque dui. In cursus tincidunt mauris, nec ullamcorper quam posuere vel.
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">Radik</a>
                  <span class="date">31 Dec 2011</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h2>
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a eros mauris, eu venenatis mauris. Nulla iaculis imperdiet pharetra. Nulla facilisi. Etiam egestas metus ut lectus vestibulum in elementum augue congue. Vivamus hendrerit, odio ut pharetra dictum, diam orci malesuada nisl, et egestas lacus lacus at ipsum. Etiam at nulla tortor, id scelerisque dui. In cursus tincidunt mauris, nec ullamcorper quam posuere vel.
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">Radik</a>
                  <span class="date">31 Dec 2011</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit?</a></h2>
                <div class="txt">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam a eros mauris, eu venenatis mauris. Nulla iaculis imperdiet pharetra. Nulla facilisi. Etiam egestas metus ut lectus vestibulum in elementum augue congue. Vivamus hendrerit, odio ut pharetra dictum, diam orci malesuada nisl, et egestas lacus lacus at ipsum. Etiam at nulla tortor, id scelerisque dui. In cursus tincidunt mauris, nec ullamcorper quam posuere vel.
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">Radik</a>
                  <span class="date">31 Dec 2011</span>
                </div>
              </div>
            </div><!-- question -->
          </div>
        </div>
      </div><!-- content -->
    </div><!-- container -->
  </body>
</html>
