{% extends "qna/base.html" %}
{% load tagging_tags %}
{% load voting_tags %}
{% load comments %}
{% score_for_object question as score %}
{% scores_for_objects question.answer_set.all as answer_score_dict %}
{% block title %}{{question.title}}{% endblock %}
{% block content %}
        <div class="row">
          <div class="span12">
            <div class="row question">
              <div class="span1 vote-cell">
                <a href="#" class="vote up">+</a>
                <div class="rating positive">{{ score.score|default:0 }}</div>
                <a href="#" class="vote down">-</a>
              </div>
              <div class="span11 question-cell">
                <h2>{{question.title}}</h2>
                <div class="txt">
                  {{question.text}}
                </div>
                <div class="tags">
                  {% tags_for_object question as tag_list %}
                  {% if tag_list %}
                      <div class="tags">
                          {% for tag in tag_list %}
                              <a href="#" class="label notice">{{ tag.name }}</a>
                          {% endfor %}
                      </div>
                  {% endif %}
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">{{question.user.username}}</a>
                  <span class="date">{{question.date}}</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="answers-count"><h3>{{ question.answer_set.count }} answers</h3></div>
            {% for answer in question.answer_set.all %}
              {% dict_entry_for_item answer from answer_score_dict as answer_score %}
              <div class="row answer">
                <div class="span1 vote-cell">
                  <a href="#" class="vote up">+</a>
                  <div class="rating positive">{{ answer_score.score|default:0 }}</div>
                  <a href="#" class="vote down">-</a>
                  {% if answer == question.correct_answer %}
                  <span class="label success" title="The question owner accepted this as the best answer">Best</span>
                  {% endif %}
                </div>
                <div class="span11 answer-cell">
                  <div class="txt">
                    {{ answer.text }}
                  </div>
                  <div class="meta-cell pull-right">
                    Answered by <a href="#" class="answeredby">{{ answer.user.username }}</a>
                    <span class="date">{{ answer.date }}</span>
                  </div>
                </div>
                <div class="comments-block">
                  {% get_comment_list for answer as comment_list %}
                  {% for comment in comment_list %}
                    <div class="comment">
                      {{ comment.comment }}
                      <a href="#">{{ comment.user.username }}</a> <span class="meta">{{ comment.submit_date }}</span>
                    </div>
                  {% endfor %}
                  <div class="new-comment">
                    <form method="post" action="{% url qna.views.comment answer.id %}" style="display:none;" >
                      {% csrf_token %}
                      <fieldset>
                        <div class="clearfix">
                            <textarea class="span11" id="comment" name="comment" rows="3"></textarea>
                            <span class="help-block">
                              Put your comment here.
                            </span>
                        </div>
                        <div style="margin-left: 10px;">
                          <input type="submit" class="btn pull-right" value="Add">
                        </div>
                      </fieldset>
                    </form>
                    <script type="text/javascript" language="javascript" charset="utf-8">
                    // <![CDATA[
                    $(document).ready(function(){
                      $(".comment-link").click(function(){
                        $(this).parent().parent().children("form").toggle();
                      });
                    });
                    // ]]>
                    </script>
                  <div class="acts">
                    <a href="javascript:void(0);" class="comment-link">Add comment</a>
                  </div>
                  </div>
                </div><!-- comments-block -->
              </div>
            {% endfor %}
            <div class="new-answer">
              <form method="post" action="{% url qna.views.answer question.id %}">
                {% csrf_token %}
                 <fieldset>
                   <div class="clearfix">
                     <div class="input" style="margin-left: 50px;">
                       <label for="text"><h4>Your answer</h5></label>
                       {% if answer_error %}<div class="alert alert-error">Something wrong happened</div>{% endif %}              
                       <textarea class="span11" style="margin-left: 10px;" id="text" name="text" rows="3"></textarea>
                       <span class="help-block" style="margin-left: 10px;">
                         Put your answer here.
                       </span>
                     </div>
                   </div>
                   <div style="margin-left: 10px;">
                     <input type="submit" class="btn primary pull-right" value="Answer">
                   </div>
                 </fieldset>
              </form>
            </div>
          </div>
          <div class="span4"></div>
        </div>
{% endblock %}
