{% extends "qna/base.html" %}
{% load tagging_tags %}
{% load voting_tags %}
{% score_for_object question as score %}
{% scores_for_objects question.answer_set.all as answer_score_dict %}
{% block title %}{{question.title}}{% endblock %}
{% block content %}
        <div class="row">
          <div class="span12">
            <div class="row question">
              <div class="span1 vote-cell">
                <a href="#" class="vote up">+</a>
                <div class="rating positive">{{ score.score|default:0 }}</div>
                <a href="#" class="vote down">-</a>
              </div>
              <div class="span11 question-cell">
                <h2>{{question.title}}</h2>
                <div class="txt">
                  {{question.text}}
                </div>
                <div class="tags">
                  {% tags_for_object question as tag_list %}
                  {% if tag_list %}
                      <div class="tags">
                          {% for tag in tag_list %}
                              <a href="#" class="label notice">{{ tag.name }}</a>
                          {% endfor %}
                      </div>
                  {% endif %}
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">{{question.user.username}}</a>
                  <span class="date">{{question.date}}</span>
                </div>
              </div>
            </div><!-- question -->
            <div class="answers-count"><h3>{{ question.answer_set.count }} answers</h3></div>
            {% for answer in question.answer_set.all %}
              {% dict_entry_for_item answer from answer_score_dict as answer_score %}
              <div class="row answer">
                <div class="span1 vote-cell">
                  <a href="#" class="vote up">+</a>
                  <div class="rating positive">{{ answer_score.score|default:0 }}</div>
                  <a href="#" class="vote down">-</a>
                  {% if answer == question.correct_answer %}
                  <span class="label success" title="The question owner accepted this as the best answer Dec 31 at 21:30">Best</span>
                  {% endif %}
                </div>
                <div class="span11 answer-cell">
                  <div class="txt">
                    {{ answer.text }}
                  </div>
                  <div class="meta-cell pull-right">
                    Answered by <a href="#" class="answeredby">{{ answer.user.username }}</a>
                    <span class="date">{{ answer.date }}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
          <div class="span4"></div>
        </div>
{% endblock %}
