{% extends "base.html" %}
{% block title %}The current time{% endblock %}
{% block content %}
        <div class="row">
          <div class="span12 question-list">
{% for question in question_list %}
            <div class="row question">
              <div class="span1">
                <div class="stats">
                  <div class="votes">
                    <span class="count">900</span>
                    votes
                  </div>
                  <div class="answers">
                    <span class="count">5</span>
                    answers
                  </div>
                </div><!-- stats -->
              </div>
              <div class="span11 question-cell">
                <h2><a href="#">{{ question.title }}</a></h2>
                <div class="txt">
                  {{ question.text }}
                </div>
                <div class="tags">
                  <a href="#" class="label notice">Lorem</a>
                  <a href="#" class="label notice">ipsum</a>
                </div>
                <div class="meta-cell pull-right">
                  Asked by <a href="#" class="askedby">{{ question.user.username }}</a>
                  <span class="date">{{ question.date }}</span>
                </div>
              </div>
            </div><!-- question -->
{% endfor %}
          </div>
        </div>
{% endblock %}
